body {
  margin: 0;
  font-size: 22px;
}

header {
  position: fixed;
  width: 100%;
  height: 35px;
  background-color: #007765;
  top: 0;
  right: 0;
  color: white;
}
/* 
TODO: 
Если того не требует какая-то особенная ситуация, то все же приятнее стили для тегов держать в одной куче, а для классов в другой, 
причем удобнее, чтобы они шли по мере убывания востребованности 

header

header a

header a .logout-btn
*/
header a {
  text-decoration: none;
  color: white;
}
.right {
  width: 50%;
  float: left;
  text-align: center;
  line-height: 35px;
  margin: 0;
  padding: 0;
}
.left {
  width: 50%;
  float: left;
  text-align: center;
  line-height: 35px;
  margin: 0;
  padding: 0;
}
.piperNet {
  background: url("../images/bg-green.png") no-repeat center top;
  width: 100%;
  height: 250px;
  background-size: cover;
}
.piperNet > p {
  font-size: 52px;
  text-align: center;
  color: white;
  line-height: 250px;
  margin: 0;
}
.content {
  width: 1000px;
  margin: auto;
}

/*
отдельно теги лучше не переопределять, если нет изначально конечной цели чтобы все теги данного типа имели эти стили 
*/
h1 {
  color: #007765;
  text-align: center;
}

.quote {
  background: url("../images/bg-blue.png") no-repeat center top;
  width: 100%;
  height: 400px;
  background-size: cover;
}
blockquote {
  text-align: center;
  margin: 0 25%;
  color: white;
  font-size: 40px;
  padding: 5%;
}
.logo {
  float: left;
  margin: 0 20px 10px 20px;
}
.member {
  float: left;
  width: 30%;
  margin-bottom: 20px;
}
.team {
  text-align: center;
}
.member p {
  margin: 0;
}
